

body {
  background-color: #0097A7;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: center;
  background-color: #00BCD4;
  width: 100%;
  margin: 0;
  overflow: hidden;

  /* box-sizing: border-box; */
  /* border: #212121 5px dashed; */
}

.logo {
  margin: 5px;
  display: inline-flex;
}

.logo img {
  float: none;
  position: relative;
  right: 45px;
}

.hover-link {
  transition-duration: 0.3s;
  transition-property: background-image;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 50px;
}

.home-page-link {
  background-image: url("Images/Home.png");
}

.int-page-link {
  background-image: url("Images/Interests.png");
}

.ach-page-link {
  background-image: url("Images/Achievements.png");
}

.home-page-link:hover {
  background-image: url("Images/Home\ Hover.png");
}

.int-page-link:hover {
  background-image: url("Images/Interests\ Hover.png");
}

.ach-page-link:hover {
  background-image: url("Images/Achievements\ Hover.png");
}

.navigation-table {
  list-style-type: none;
  border-spacing: 1px;
  border-collapse: separate;
  align-self: center;
}

.navigation-table li {
  padding: 0px;
}

.social-table {
  border-spacing: 1px;
  border-collapse: separate;
  align-self: center;
  width: 100px;
  list-style-type: none;
}

.social-table li {
  /* height: 30px; */
  width: 50px;
  padding: 22px;
}

.social-fb-link {
  background-image: url("Images/icon-facebook.jpg");
}

.social-twit-link {
  background-image: url("Images/icon-twitter.jpg");
}

.social-fb-link:hover {
  background-image: url("Images/icon-facebook-hover.jpg");
}

.social-twit-link:hover {
  background-image: url("Images/icon-twitter-hover.jpg");
}

.main-body {
  height: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  text-align: left;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  text-align: center;
  padding: 7px 0px;
  margin: 0px;
}

.header-main-body {
  background-color: #212121;
  color: white;
  text-shadow: 1px 2px rgb(97, 97, 97);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 80px;
  margin-bottom: 20px;
  font-size: 40px;
}

.main-text {
  color: #FFFFFF;
  text-shadow: 1px 2px rgb(97, 97, 97);
  background-color: #00BCD4;
  width: fit-content;
  margin: 20px auto;
  padding: 10px;
  font-size: larger;
  box-shadow: 7px 7px 3px rgb(29, 125, 138);
  text-justify: distribute;
  max-width: 700px;
}

.main-text::after {
  content: "";
  display: block;
  clear: both;
}

.subheader-main-body {
  background-color: #212121;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: xx-large;
}

.footer {
  background-color: #212121;
  padding: 10px;
  color: #607D8B;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  width: 100%;
  overflow: hidden;
}

.footer::after {
  content: "";
  display: block;
  clear: both;
}

.footer-img {
  /* margin-left: auto;
  margin-right: auto; */
  float: right;
  clear: none;
  width: 300px;
}

.footer-text {
  position: absolute;
  height: 181px;
  left: 20px;
  transform: translateY(-7px);
}

.photo-gallery {
  display: grid;
}